<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Project</title>
  </head>
  <body>
    {{> header}}
    <p><b>Congratulations! You are officially a Motu Bhaiya buddy now :)) </b></p>

    {{> footer}}
  </body>
</html>
